@import 'variables';
@import 'mixins';

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;

  @include small-screen {
    padding: 0.5rem;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;

  > div {
    padding: 0.5rem;
    box-sizing: border-box;
  }
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;

  @include small-screen {
    width: 100%;
  }
}